.sidebar {
  background-color: #e0e0e0;
  padding: 20px;
  width: 300px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.sidebar h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
